@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-dialog .p-dialog-header {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--surface-border);
    margin-bottom: 1rem;
}

.p-dialog .p-dialog-header .p-dialog-title {
    width: 100%;
    text-align: center;
    font-size: 1.125rem;
}

.p-dialog-header-icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1rem;
}