.wrapper {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 24px;
}