<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo-chat</title>

  <!-- Google icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!-- Google fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <div class="header-account">
        <div class="online">
          <app-avatar [width]="'48px'" [isOnline]="true" [username]="currentUser.username"
            [avatarUrl]="currentUser.avatarUrl" [isAllowUpload]="true"></app-avatar>
        </div>
        <div class="header-username">{{ currentUser.username }}</div>
        <!-- new messages -->
        <span (click)="isShowDialogChat = true" class="material-symbols-rounded">add_circle</span>
      </div>
      <div class="header-title">
        {{ selectedMessageRoom | messageRoomName }}
        <span class="header-title-small">{{ userService.getRoomStatus(selectedMessageRoom) }}</span>
      </div>
      <div (click)="logout()" class="header-setting">
        <span class="material-symbols-rounded">logout</span>
        <span class="header-logout">Logout</span>
      </div>
    </div>

    <div class="container">
      <!-- Left side -->
      <div class="conversation-area">
        <!-- Active users -->
        <app-active-users-list [currentUser]="currentUser"></app-active-users-list>

        <!-- conversations -->
        <app-conversations-list [messageRooms]="messageRooms" [currentUser]="currentUser"
          [selectedMessageRoomId]="selectedMessageRoom.id"
          (selectRoom)="selectMessageRoom($event)"></app-conversations-list>
      </div>

      <!-- Chat area -->
      <div class="chat-area" id="chat-area">
        <app-message-contents-list [currentUser]="currentUser" [selectedMessageRoom]="selectedMessageRoom"
          style="flex-grow: 1;"></app-message-contents-list>
        <!-- Scroll to Unseen messages -->
        <div style="text-align: center;">
          <span class="material-symbols-rounded">arrow_upward</span>
        </div>
        <!-- Chat footer -->
        <form class="chat-footer">
          <div class="other-list">
            <div class="emoji">
              <span class="material-symbols-rounded">mood</span>
            </div>
          </div>
          <input [(ngModel)]="messageToSend.content" (keydown.enter)="sendMessage()" type="text" class="p-inputtext"
            id="message-input" placeholder="Type something here..." name="content" autofocus
            style="background-color: transparent;" />
          <span (click)="sendMessage()" class="send-button material-symbols-rounded">send</span>
        </form>
      </div>

      <!-- Right side -->
      <div class="detail-area">
        <ng-container *ngIf="selectedMessageRoom.id">
          <div class="detail-header">

            <ng-container *ngIf="!selectedMessageRoom.isGroup">
              <ng-container *ngFor="let member of selectedMessageRoom.members">
                <app-avatar *ngIf="member.username !== currentUser.username" [username]="member.username"
                  [width]="'44px'"></app-avatar>
              </ng-container>
            </ng-container>

            <div *ngIf="selectedMessageRoom.isGroup">
              <img style="width: 44px; height: 44px; object-fit: cover; border-radius: 50%;"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNL_ZnOTpXSvhf1UaK7beHey2BX42U6solRA&s"
                alt="">
            </div>

            <div class="detail-title">
              <div class="detail-group-name">{{ selectedMessageRoom | messageRoomName}}</div>
              <span class="pi pi-pen-to-square cursor-pointer"></span>
            </div>
            <span class="detail-subtitle">Created by {{ selectedMessageRoom.createdBy }}, {{
              selectedMessageRoom.createdAt | date: 'hh:mm:ss - dd/mm/yyyy' }}</span>
          </div>

          <div class="theme">
            <div class="theme-mode">
              <p>Dark mode</p>
              <p-inputSwitch [(ngModel)]="themeMode" (onChange)="switchMode(themeMode ? 'dark' : 'light')" />
            </div>
            <div class="theme-color">
              <p>Color</p>
              <p-dropdown [(ngModel)]="themeColor" (onChange)="switchColor(themeColor.name)" [options]="themeColors">
                <ng-template pTemplate="selectedItem">
                  <div class="theme-button" [style.backgroundColor]="themeColor.color"></div>
                </ng-template>
                <ng-template pTemplate="item" let-theme>
                  <div class="theme-button" [style.backgroundColor]="theme.color"></div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>

          <div class="detail-members">
            <div class="detail-members-header" *ngIf="selectedMessageRoom.isGroup">
              <div class="detail-member-title">Members</div>
              <span class="detail-member-add">Add members</span>
            </div>
            <div class="detail-members-list" *ngIf="selectedMessageRoom.isGroup">
              <div class="detail-member" *ngFor="let member of selectedMessageRoom.members">
                <app-avatar [username]="member.username" [width]="'44px'"></app-avatar>
                <div class="detail-member-detail">
                  <div class="detail-member-username">{{ member.username }}</div>
                  <span class="detail-member-subtitle">{{ member.isAdmin ? 'Admin' : '' }}</span>
                </div>
                <span class="material-symbols-rounded">more_vert</span>
              </div>
            </div>
          </div>

          <div class="leave-group">
            <p>
              <span class="material-symbols-rounded">logout</span>
              Leave group
            </p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</body>

</html>

<app-select-users-dialog [visible]="isShowDialogChat" [currentUsername]="currentUser.username"
  (onHideEvent)="isShowDialogChat = false" (onSubmitEvent)="chat($event)"></app-select-users-dialog>